body {
    background: #3F83D6;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: #ffffff;
    width: 600px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.555);
}


footer {
    text-align: center;
    color: white;
    font-style: italic;
}